{% extends 'Base.html' %} 
{% block title %} StackPedia - {{post.slug}} {%endblock %} 

{% block content %}

<!-- Page Content-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-9">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }} </h1>
            <!-- Post categories-->
            <a href="{% url 'profile' post.writer.profile_id %}" style="text-decoration: none ;">
            <div class="card-footer p-4 pt-0 bh-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img style="width: 70px; height:70px" src="{{ post.writer.profilePic.url }}" alt="" class="rounded-circle me-3">
                  <div class="big">
                    <div class="fw-bold">{{ post.writer.name }}</div>
                    <div class="text-muted">{{ post.writer.profession }}</div>
                    <div class="text-muted">{{ post.created }}</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
            <div style="display: flex; justify-content: space-between;">
              <a
              class="badge bg-secondary text-decoration-none link-light" style="font-size: 20px;"
              href="#!"
              >{{ post.category }}</a>
            </div>
          </header>
          <!-- Preview image figure-->
          <figure class="mb-4">
            <img
              class="img-fluid rounded"
              src="{{ post.image.url }}"
              alt="..."
            />
          </figure>
          <!-- Post content-->
          <section class="mb-5">
            <p style="font-size: 30px">{{ post.content | safe }}</p>
          </section>
        </article>
        <!-- Comments section-->
        <section>
          <div style="display:flex; justify-content:space-between;">
            <h3>Comments..</h3>
            <!-- Button trigger modal -->
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#commentModal">
                  Leave a Comment
                </button>
            {% else %}
            <a class="btn btn-primary" href="{% url 'login_user' %}">Sign In to Comment</a>
            {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Say your Comment</h5>
                      </div>
                      <div class="modal-body">
                       <form method="post">
                           {% csrf_token %}
                          <div class="form-group">
                            <textarea  class="form-control" rows="5" aria-required="true" name="comm"></textarea>
                            <div class="modal-footer"></div>
                            <input type="submit" value="Comment" class="btn btn-primary" data-bs-dismiss="modal">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <br>
            


<!--          <div class="card bg-light">-->
<!--            <div class="card-body">-->
<!--              <div class="d-flex">-->
<!--                <div class="flex-shrink-0">-->
<!--                  <img-->
<!--                    class="rounded-circle"-->
<!--                    src="{{ comment.profilePic }}"-->
<!--                    alt="..."-->
<!--                  />-->
<!--                </div>-->
<!--                <div class="ms-3">-->
<!--                  {% for comment in post.comments.all %}-->
<!--                    <div class="fw-bold">{{ comment.name }} - - {{ comment.date_added }} </div>-->
<!--                      {{ comment.content }}-->
<!--                  <hr>-->
<!--                  {% endfor %}-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          {% if comments.length == 0 %}
            <h3>No Comments Yet</h3>
          {% else %}

          {% for cm in comments %}
          <div class="card bg-light">
            <div class="card-body">
              <!-- Comment form-->
              <form class="mb-4">
              <!-- Comment with nested comments-->
              <div class="d-flex mb-4">
                
                <!-- Parent comment-->
                <div class="flex-shrink-0">
                  <img
                    class="rounded-circle-cm"
                    src="{{ cm.0.user.profilePic.url }}"
                    alt="..."
                  />
                </div>
                
                <div class="ms-3">
                  <div class="fw-bold">{{ cm.0.user.username }}</div>
                  {{ cm.0.comm }}
                  <!-- <p id="{{cm.0.id}}" style="text-decoration:none;">
                    <button onclick="ReplyForm('{{cm.0.id}}')" type="button"  data-bs-toggle="modal" data-bs-target="#subcommentModal" style="text-decoration: none;">
                      Reply
                      </button>
                  </p> -->
                  <!-- Child comment 1-->
                  <!-- <div class="d-flex mt-4">
                    {% for subc in cm.1 %}
                    <div class="flex-shrink-0">
                      <img
                        class="rounded-circle"
                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                        alt="..."
                      />
                    </div>
                    <div class="ms-3">
                      <div class="fw-bold">{{subc.user.username}}</div>
                      {{ subc.comm }}
                    </div>
                    {% endfor %}
                  </div> -->
                </div>
                
              </div>
              <!-- Single comment-->
            </div>
          </div>
          <br>
          {% endfor %}
          {% endif %}
          <script type="text/javascript">
            function ReplyForm(id) {
              let elm = `<div class="modal fade" id="subcommentModal" tabindex="-1" role="dialog" aria-labelledby="subcommentModal" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="subexampleModalLabel">Say your Comment</h5>
                      </div>
                      <div class="modal-body">
                       <form method="post">
                           {% csrf_token %}
                          <div class="form-group">
                            <input type="hidden" value='${id}' name = 'comm_id'>
                            <textarea  class="form-control" rows="5" aria-required="true" name="comm"></textarea>
                            <div class="modal-footer"></div>
                            <input type="submit" value="Comment" class="btn btn-primary" data-bs-dismiss="modal">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>`;

                document.getElementById(id).innerHTML = elm;
            }
          </script>
        </section>
      </div>
      <div class="col-lg-3">
        <br />
        <h1>Recent Posts</h1>
        <br />
        {% for post in posts %}

        <div
          class="card"
          style="
            width: 18rem;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
          "
        >
          <img src="{{ post.image.url }}" class="card-img-top" alt="..." />
          <div class="card-body" style="color: #2a0944">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.content | truncatechars:60 | safe }}
            </p>
            <a href="{% url 'details_page' post.slug %}" class="btn btn-dark"
              >View Post</a
            >
          </div>
        </div>
        <br />
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
